 body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f0f0f0;
    }
    .container {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      width: 900px;
      max-width: 90%;
      min-height: 550px;
    }
    .acesso {
      background-color: white;
      padding: 50px 60px;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .logo {
      font-size: 20px;
      font-weight: 600;
      color: #333;
      margin-bottom: 32px;
    }
    .cabecalho h2 {
      font-size: 28px;
      color: #333;
      margin-bottom: 10px;
    }
    .cabecalho p {
      color: #777;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 14px;
    }

    label {
      display: block;
      font-weight: 500;
      color: #555;
      margin-bottom: 5px;
      font-size: 14px;
    }
    input[type="email"],
    input[type="password"] {
      padding: 12px 10px;
      border: 1px solid #ddd;
      border-radius: 50px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }
    .btn-acessar {
      background-color: #eda353;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      width: 100%;
      margin-top: 42px;
      transition: background-color 0.3s;
    }
    .btn-acessar:hover {
      background-color: #ed8b53;
    }
    .cadastro {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
    }
    .cadastro a {
      color: rgba(237, 163, 83, 1);
      text-decoration: none;
      font-weight: 600;
    }
    .info {
      background: #171556;
      background: linear-gradient(45deg, #171556 0%, #fc79a5 60%, #eda353 100%);
      padding: 50px;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
    }
    .info h2 {
      font-size: 32px;
      line-height: 1.3;
      margin-bottom: 16px;
      font-weight: 600;
    }
    .info p {
      font-size: 16px;
      color: #f8f8ff;
    }
    span {
      color: rgba(237, 163, 83, 1);
    }